Repository pedroslopez/whatsapp-web.js, pull requests merged in 2022-02, with the labels that each got.

#1107 FIx message.delete()
  src/structures/Message.js
Labels: bug

#784 chore(tests): add Chat model tests
  package.json
  src/Client.js
  src/structures/Chat.js
  tests/client.js
  tests/structures/chat.js
Labels: enhancement

#1174 fix: send messages properly when disappearing mode is on
  index.d.ts
  src/structures/Message.js
  src/util/Injected.js
Labels: bug

#1181 fix: dont cause redirect loop due to session restore
  index.d.ts
  src/Client.js
Labels: bug

#889 Multi-device Branch
  .env.example
  .gitignore
  example.js
  index.d.ts
  package.json
  shell.js
  src/Client.js
  src/structures/ClientInfo.js
  src/structures/Contact.js
  src/structures/GroupChat.js
  src/structures/Message.js
  src/util/Constants.js
  src/util/Injected.js
  src/util/Util.js
  tests/README.md
  tests/client.js
  tests/helper.js
  tests/structures/chat.js
  tests/structures/group.js
  tests/structures/message.js
Labels: enhancement, multidevice

#1257 Auth Strategies
  .gitignore
  .npmignore
  example.js
  index.d.ts
  index.js
  shell.js
  src/Client.js
  src/authStrategies/BaseAuthStrategy.js
  src/authStrategies/LegacySessionAuth.js
  src/authStrategies/LocalAuth.js
  src/authStrategies/NoAuth.js
  src/util/Constants.js
Labels: enhancement
