Repository pedroslopez/whatsapp-web.js, pull requests merged in 2023-04, with the labels that each got.

#2059 Add the 'unread_count' event. Listen to changes on Chat.unreadCount
  index.d.ts
  src/Client.js
  src/util/Constants.js
Labels: Waiting for testers, Good PR

#1897 feat: load reactions in message
  index.d.ts
  src/structures/Message.js
Labels: Waiting for testers

#1606 lastMessage in chat
  index.d.ts
  src/structures/Chat.js
  src/util/Injected.js
Labels: Waiting for testers

#2018 feat: added group_admin_changed event
  example.js
  index.d.ts
  src/Client.js
  src/util/Constants.js
Labels: Waiting for testers, Good PR

#2027 feat: added contact_changed event
  example.js
  index.d.ts
  src/Client.js
  src/util/Constants.js
Labels: Waiting for testers, Good PR

#2143 feat: Optional proxy autentication
  example.js
  index.d.ts
  src/Client.js
  src/util/Constants.js
Labels: Approved
